*{
    box-sizing: border-box;
   
}
.caru h5 {
  color:black;
  font-weight: bold;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.caru p {
  
  color: black;
  font-weight: bold;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* NAV STARTS */

footer {
  background-color: #0066ff;
  color: white;
  padding-top: 2rem;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  
}
footer a {
  color: white;
}

hr.light {
  border: 0.5px solid white;
  width: 100%; 
  margin-top: .8rem;
  margin-bottom: 1rem;
  width: 95%;
}
.navigate1{
font-size: 13px;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.logo{
  font-size: 28px;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}

.navigate2inp {
  border: none !important;
}

.navigate2inpfs {
  font-size: 13px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.navigate2inpfslogo{
  font-size: 20px;
  margin-top: 8px;

}

.navigate2shoppingca{
  font-size: 13px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.navigate2shoppingcalogo{
  font-size: 28px;
}



.viewcart {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 13px;
}

/* NAV ENDS */


.img-fluid {

  max-width: 100%;
  height: 100%;
  display: block;
 
}
.imaget1 {
  background-repeat: no-repeat;
}

  .priceicon{
    padding-top: 20px;
    font-size: 38px;
    color:#616d68;

  }

  .pricetext p{
color: #616d68;
font-size: 14px;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
margin-top: 20px;
  }

  .pricetext {
    background: #e5e8e7;

  }

  .map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:50%;
    width:90%;
    position:absolute;
    }
/* ALLCAT SCROLL */
    .scrollable-menu {
      height: auto;
      max-height: 200px;
      overflow-x: hidden;
  }

  .letters a {
color: #666 !important;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

  }
/* ALLCAT SCROLL ENDS */

  .owlcaruimgalign img {

    height: 300px;
  }

  .picyazi {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-90%,-90%);
font-size: 20px;
color: white;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

  }

  .picyazi2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 10px;
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    
      }

      .picyazi3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 15px;
        color: white;
        font-weight: bold;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        
          }

          .picyazi4 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(0%,-50%);
            font-size: 20px;
            color: white;
            font-weight: bold;
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
            
              }

  .picozu {
position: relative;
opacity: 0.7;
}

.picozu:hover{
  opacity: 1.0;
  transition: 0.5s;
}